h1{
    font-size: 3em;
    font-family: sans-serif;
    color: #545454;

}
h3{
    font-family:sans-serif;
    font-weight: 100;
    color:darkslategray;

}

h4{
     font-family:monospace;
    font-weight: 100;
    color:#707070
}
h4[class]{
    font-family:sans-serif;
    font-weight: 500;
    font-size:150%;
    color: black;
    
}

a{
    color:cornflowerblue;
}
.container{
          background-color: #eee;
          background-size: 60% auto;
     width: 75% ;
    margin: 0% auto;
    padding: 5%;
    
}
